.main{
    -fx-background-image: url("MainMenuBackground.gif");
    -fx-background-size: cover
}

.button{
    -fx-border-radius: 4px;
    -fx-background-color: #e6ed21;
    -fx-border: none;
    -fx-text-align: center;
    -fx-font-size: 15px;
    -fx-padding: 10px;
}

.button:hover{
    -fx-background-color: #4da8c9;
    -fx-background-radius: 14px;
}
