.background{
    -fx-background-image: url("dadtav.png");
}
.tab2 {
    -fx-pref-width: 600px;
    -fx-max-width: 1000px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.tab3 {
    -fx-pref-width: 400px;
    -fx-max-width: 1000px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.tabTop3 {
    -fx-max-width: 600px;
    -fx-pref-width: 400;
    -fx-background-color: black;
}

.tab-header-background {
    -fx-background-color: black;
    -fx-background-radius: 10px;
}

.tabTop2 {
    -fx-max-width: 200px;
    -fx-pref-width: 280;
    -fx-background-color: black;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: yellow;
}

.jfx-tab-pane .tab-header-area{
    -fx-background-color: black;
}

.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #cbd1a5;
    -fx-background-radius: 5em;
}

.but:hover {
   -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.5), 20, 0.3, -5, -5);
   -fx-scale-x: 1.2;
   -fx-scale-y: 1.2;
}

.butoo{
    -fx-effect: dropshadow(gaussian, rgba(110,10,133,0.83), 20, 0.3, -5, -5);
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.but2 {
    -fx-background-color: #fcba03;
    -fx-text-fill: white;
}

.but2:hover {
   -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 20, 0.3, -5, -5);
   -fx-scale-x: 1.2;
   -fx-scale-y: 1.2;
}
